body {
   background-color: #EEE4AB;
 }

td {
   border: 1px solid #333;
 }
 h1 {
   color:#99C4C8;
 }
 h3 {
   color:#99C4C8
 }


.star{
  background-color: grey;
}
.smail{
  background-color: green;
}
